body {
  background: #f9e933;
}

header
 main, footer {
  min-width: 855px;

}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;

}

header {
  background: white;
  overflow: auto;
  
}

header .logo {
  width: 570px;
  float:left;

}

header h1 {
  float: left;
  width: 570px;
  color: red;
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  
}

header nav {
  float: right;
  width: 285px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;

}


main {
  background: white;
  overflow: auto;
  height: 500px;

}

main h1 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
}
main h2 {
  color: blue;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

main h3 {
  color: green;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-style: italic;
}

main ul {
  color: #FF9900;
  font-family: "Georgia", Serif;
  font-size: 24px;
}

main p {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-style: italic;

}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}

footer h4 {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;

}
footer p {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

footer ul {
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;

}
footer {
  width: 100%;
  min-width:855px;
}

footer .contact {
  width: 570px;
  float: left;
}

footer .sitemap {
  width: 285px;
  float: right;
}

footer .sitemap .first_column {
  width: 40%;
  float: left;
}

footer .sitemap .second_column {
  width: 40%;
  float: right;
}